﻿/*AWWA Color Scheme*/
//Background gradient
@background-color-top: #0b5a79; //dark blue
@background-color-bottom: #0099cc; // light blue

//Headings
@headingcolor: #ec9311; //awwa orange

//Buttons
@buttonBackground: #0098d7; //royal blue
@buttonFontColor: #ffffff; //white

/*Styles*/
.sectionHeaders {
    font-family: 'Rokkitt', sans-serif; 
    text-transform: capitalize; 
    color: @headingcolor;
    font-weight:bolder;
}

body {
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    height: 100%;

    background: @background-color-top; /* For browsers that do not support gradients */
    background: linear-gradient(@background-color-top, @background-color-bottom); /* Standard syntax */
    background: -webkit-linear-gradient(@background-color-top, @background-color-bottom); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(@background-color-top, @background-color-bottom); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(@background-color-top, @background-color-bottom); /* For Firefox 3.6 to 15 */
    min-height: 100%;
}

h1, h2, h3, h4, h5 {
    //font-size: 26px;
    //font-weight: 400;
    //line-height: 20px;
    .sectionHeaders;
}

input[type="button"], .primaryButton1 {
    background-color: @buttonBackground;
    color: @buttonFontColor;
    border-style: none;
    padding: 3px 20px;
    font-weight: bolder;
    text-transform: uppercase;
}
