﻿@import "AWWA_Default";

@boundryBorders: 1px solid lightgray;

/*Section Colors*/
@recommendedRangesBackground: #D9F3FC;
@inputsBackground: antiquewhite;

@warningTextColor: red;
@warningBackgroundColor: lightgoldenrodyellow;

/*SectionSizes*/
@minFormHeight: 700px;

/*mixins*/
.outputSpanStyle {
    width: 120px;    
    background-color: white;
    border: 1px solid lightgray;
    display: inline-block;
    padding: 0 10px;
    text-align: left;
    /* margin: 3px 15px; */
}

a.primaryButton1{
    color:white;
    cursor: pointer;
}

@media(max-width:700px) {
    .mobile {
        display: initial;
    }

    .desktop, .rotator {
        display: none;
    }
}

@media(min-width:700px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: initial;
    }
}

#mobile_logo, #torqueFormula, #awwaLogo {
    width: 100%;
    max-width: 200px;
}


div {
    margin-bottom: 10px;

    .awwa-logo {
        border-right: 2px solid lightgray;
    }

    .navigation-buttons {
        border-top: @boundryBorders;
        border-bottom: @boundryBorders;
        padding: 10px;
        text-align: right;
    }

    .page-header, .calc-header {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .ranges {
        margin: 15px auto;
        max-width: 400px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around
    }
    /*.supporting-doc-label {
        position: absolute;
        bottom: 0;
    }*/
    .instructionalBox {

        //@columnGap: 10px;
        border: 1px solid @headingcolor;
        width: 100%;
        padding: 15px 30px;
        //height: 100px;
        //-webkit-column-count: 2;
        //column-count: 2;

        ol {
            float:left;
        }
    }

    .st-inline-share-buttons {
        text-align: right!important; //needs to override share settings from other pages
    }

    .recommended-ranges-form {
        background-color: @recommendedRangesBackground;

        ul, ol {
            margin-top: 10px;
        }

        ul {
            padding: 0;
            list-style: none;
        }

        li {
            margin-bottom: 10px;
        }

        span {
            .outputSpanStyle
        }
    }


    .output-form {
        border: 1px solid gray;
        padding: 15px 0;

        .form-section-head {
            margin-left: 0.75rem;
            font-weight: bold;
            border: none;
            color: black;
        }

        td {
            padding: .75rem 1.2rem;

            span {
                .outputSpanStyle
            }
        }
    }

    .font-italic {
        font-style: italic;
    }

    .inline {
        display: inline-block;
        flex: auto;
    }
}

form, .form {
    padding: 15px;
    min-height: @minFormHeight;
}

.flange-details {
    background-color: @inputsBackground;
}

.calc-form {
    margin: 20px auto;
    padding: 30px;
    background-color: white;
    max-width: 1600px;
}

select, input[type="text"] {
    width: 100%;
    height: 25px;
    border: @boundryBorders;
    //background-color: white;
    padding: 0 5px;
    margin-bottom: 10px;
    display: block;
}

.form-section-head {
    font-weight: bold;
    border: none;
    color: black;
}


table {
    //width: 100%;
    .output-values {
        text-align: right;
    }
}

.indent {
    margin-left: 20px;
}

.selection-warning {
    color: @warningTextColor;
    font-weight: bolder;
    background-color: @warningBackgroundColor;
    text-transform: uppercase;
    display: none;
    width: 100%;
    border: none;
}

.rotator {
    border: @boundryBorders;
    background-color: @recommendedRangesBackground;
    overflow: hidden;
    overflow-x:scroll;

    .linked-products {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;

        .linked-product {
            width: 200px;
            display: inline-block;
            margin-right: 15px;
            white-space: normal;
            vertical-align: top;

            a {
                text-transform: capitalize;
            }

            img {
                width: 200px;
            }

            p {
                text-transform: uppercase;
                color: GrayText;
                font-weight: bolder;

                .title {
                    color: inherit;
                }

                span {
                    color: #0c0c0c; //dark gray
                    .member-price {
                        color: @headingcolor;
                    }
                }
            }
        }
    }
}

.k-value {
    span{
        display:none;
    }
}
