﻿@import "AWWA_Default";

@boundryBorders: 1px solid gray;

/*Section Colors*/
@recommendedRangesBackground: #D9F3FC;
@inputsBackground: antiquewhite;

@page {
    size: A4;
}

/*mixins*/
.outputSpanStyle {
    width: 120px;
    background-color: white;
    border: @boundryBorders;
    display: inline-block;
    text-align: left;
    padding-left: 4pt;
}

.calc-form, html, body, form {
    width: 100%;
    border: none!important;
    margin: 0;
    
}

.mobile, .sharethis-inline-share-buttons,
.navigation-buttons, .instructionalBox, .glyphicon,
.container-fluid img, .primaryButton1,
table.indent, .rotator, .font-italic, ul,
.flange-details h5, #dnnCPWrap{
    display: none !important;
}

.form, form {
    border: @boundryBorders;
    padding-left: 3pt;
}


.calc-header{
    margin-bottom:5pt;
}

select, input[type=text]{
    background: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;    
    width: 100pt;
    max-width: 40%;
    float:right;
}

.flange-details span {
    max-width: 60%;
    width: 125pt;
    text-wrap: normal;
    display:inline-block;    
}

.output-section, .stack {
    display: inline-block;
    vertical-align: top;
    max-width: 48%;
    margin-right: 5pt;

    .output-form {
        border: 1pt solid gray;

        h5.form-section-head {
            border: none;
            color: black;
        }

        table {
            width: 100%;
        }

        td {
            overflow-wrap: break-word;
            text-wrap:normal;
            span {
                .outputSpanStyle
            }
        }
    }
}

.title-and-social-share, .inline {
    display: inline-block;
    span {
        margin-right:3pt;
    }
}

.awwa-logo {
    display: inline-block;
    padding-right: 7pt;
    border-right: 1pt solid gray;

    #awwaLogo {
        width: 70pt;
    }
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.k-value {
    span {
        display: initial;
    }
}

h5, h4 {
    color: black;
    display: inline-block;
    font-size: small;
    margin:0;
    font-weight: normal;
}

h1 {
    font-size: medium;
}

body, input, span{
    font-size: small;
}

.calc-value-box {
    float: right;
}

.ranges {
    width: 200pt;
}

.selection-warning {
    font-weight:bold;
}