/*AWWA Color Scheme*/
/*Styles*/
.sectionHeaders {
  font-family: 'Rokkitt', sans-serif;
  text-transform: capitalize;
  color: #ec9311;
  font-weight: bolder;
}
body {
  font-family: 'Segoe UI', sans-serif;
  width: 100%;
  height: 100%;
  background: #0b5a79;
  /* For browsers that do not support gradients */
  background: linear-gradient(#0b5a79, #0099cc);
  /* Standard syntax */
  background: -webkit-linear-gradient(#0b5a79, #0099cc);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#0b5a79, #0099cc);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#0b5a79, #0099cc);
  /* For Firefox 3.6 to 15 */
  min-height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Rokkitt', sans-serif;
  text-transform: capitalize;
  color: #ec9311;
  font-weight: bolder;
}
input[type="button"],
.primaryButton1 {
  background-color: #0098d7;
  color: #ffffff;
  border-style: none;
  padding: 3px 20px;
  font-weight: bolder;
  text-transform: uppercase;
}
