/*AWWA Color Scheme*/
/*Styles*/
.sectionHeaders {
  font-family: 'Rokkitt', sans-serif;
  text-transform: capitalize;
  color: #ec9311;
  font-weight: bolder;
}
body {
  font-family: 'Segoe UI', sans-serif;
  width: 100%;
  height: 100%;
  background: #0b5a79;
  /* For browsers that do not support gradients */
  background: linear-gradient(#0b5a79, #0099cc);
  /* Standard syntax */
  background: -webkit-linear-gradient(#0b5a79, #0099cc);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#0b5a79, #0099cc);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#0b5a79, #0099cc);
  /* For Firefox 3.6 to 15 */
  min-height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Rokkitt', sans-serif;
  text-transform: capitalize;
  color: #ec9311;
  font-weight: bolder;
}
input[type="button"],
.primaryButton1 {
  background-color: #0098d7;
  color: #ffffff;
  border-style: none;
  padding: 3px 20px;
  font-weight: bolder;
  text-transform: uppercase;
}
/*Section Colors*/
/*SectionSizes*/
/*mixins*/
.outputSpanStyle {
  width: 120px;
  background-color: white;
  border: 1px solid lightgray;
  display: inline-block;
  padding: 0 10px;
  text-align: left;
  /* margin: 3px 15px; */
}
a.primaryButton1 {
  color: white;
  cursor: pointer;
}
@media (max-width: 700px) {
  .mobile {
    display: initial;
  }
  .desktop,
  .rotator {
    display: none;
  }
}
@media (min-width: 700px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: initial;
  }
}
#mobile_logo,
#torqueFormula,
#awwaLogo {
  width: 100%;
  max-width: 200px;
}
div {
  margin-bottom: 10px;
  /*.supporting-doc-label {
        position: absolute;
        bottom: 0;
    }*/
}
div .awwa-logo {
  border-right: 2px solid lightgray;
}
div .navigation-buttons {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  text-align: right;
}
div .page-header,
div .calc-header {
  width: 100%;
  height: 100%;
  margin: 0;
}
div .ranges {
  margin: 15px auto;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
div .instructionalBox {
  border: 1px solid #ec9311;
  width: 100%;
  padding: 15px 30px;
}
div .instructionalBox ol {
  float: left;
}
div .st-inline-share-buttons {
  text-align: right!important;
}
div .recommended-ranges-form {
  background-color: #D9F3FC;
}
div .recommended-ranges-form ul,
div .recommended-ranges-form ol {
  margin-top: 10px;
}
div .recommended-ranges-form ul {
  padding: 0;
  list-style: none;
}
div .recommended-ranges-form li {
  margin-bottom: 10px;
}
div .recommended-ranges-form span {
  width: 120px;
  background-color: white;
  border: 1px solid lightgray;
  display: inline-block;
  padding: 0 10px;
  text-align: left;
  /* margin: 3px 15px; */
}
div .output-form {
  border: 1px solid gray;
  padding: 15px 0;
}
div .output-form .form-section-head {
  margin-left: 0.75rem;
  font-weight: bold;
  border: none;
  color: black;
}
div .output-form td {
  padding: .75rem 1.2rem;
}
div .output-form td span {
  width: 120px;
  background-color: white;
  border: 1px solid lightgray;
  display: inline-block;
  padding: 0 10px;
  text-align: left;
  /* margin: 3px 15px; */
}
div .font-italic {
  font-style: italic;
}
div .inline {
  display: inline-block;
  flex: auto;
}
form,
.form {
  padding: 15px;
  min-height: 700px;
}
.flange-details {
  background-color: antiquewhite;
}
.calc-form {
  margin: 20px auto;
  padding: 30px;
  background-color: white;
  max-width: 1600px;
}
select,
input[type="text"] {
  width: 100%;
  height: 25px;
  border: 1px solid lightgray;
  padding: 0 5px;
  margin-bottom: 10px;
  display: block;
}
.form-section-head {
  font-weight: bold;
  border: none;
  color: black;
}
table .output-values {
  text-align: right;
}
.indent {
  margin-left: 20px;
}
.selection-warning {
  color: red;
  font-weight: bolder;
  background-color: lightgoldenrodyellow;
  text-transform: uppercase;
  display: none;
  width: 100%;
  border: none;
}
.rotator {
  border: 1px solid lightgray;
  background-color: #D9F3FC;
  overflow: hidden;
  overflow-x: scroll;
}
.rotator .linked-products {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.rotator .linked-products .linked-product {
  width: 200px;
  display: inline-block;
  margin-right: 15px;
  white-space: normal;
  vertical-align: top;
}
.rotator .linked-products .linked-product a {
  text-transform: capitalize;
}
.rotator .linked-products .linked-product img {
  width: 200px;
}
.rotator .linked-products .linked-product p {
  text-transform: uppercase;
  color: GrayText;
  font-weight: bolder;
}
.rotator .linked-products .linked-product p .title {
  color: inherit;
}
.rotator .linked-products .linked-product p span {
  color: #0c0c0c;
}
.rotator .linked-products .linked-product p span .member-price {
  color: #ec9311;
}
.k-value span {
  display: none;
}
