/*AWWA Color Scheme*/
/*Styles*/
.sectionHeaders {
  font-family: 'Rokkitt', sans-serif;
  text-transform: capitalize;
  color: #ec9311;
  font-weight: bolder;
}
body {
  font-family: 'Segoe UI', sans-serif;
  width: 100%;
  height: 100%;
  background: #0b5a79;
  /* For browsers that do not support gradients */
  background: linear-gradient(#0b5a79, #0099cc);
  /* Standard syntax */
  background: -webkit-linear-gradient(#0b5a79, #0099cc);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#0b5a79, #0099cc);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#0b5a79, #0099cc);
  /* For Firefox 3.6 to 15 */
  min-height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Rokkitt', sans-serif;
  text-transform: capitalize;
  color: #ec9311;
  font-weight: bolder;
}
input[type="button"],
.primaryButton1 {
  background-color: #0098d7;
  color: #ffffff;
  border-style: none;
  padding: 3px 20px;
  font-weight: bolder;
  text-transform: uppercase;
}
/*Section Colors*/
@page {
  size: A4;
}
/*mixins*/
.outputSpanStyle {
  width: 120px;
  background-color: white;
  border: 1px solid gray;
  display: inline-block;
  text-align: left;
  padding-left: 4pt;
}
.calc-form,
html,
body,
form {
  width: 100%;
  border: none!important;
  margin: 0;
}
.mobile,
.sharethis-inline-share-buttons,
.navigation-buttons,
.instructionalBox,
.glyphicon,
.container-fluid img,
.primaryButton1,
table.indent,
.rotator,
.font-italic,
ul,
.flange-details h5,
#dnnCPWrap {
  display: none !important;
}
.form,
form {
  border: 1px solid gray;
  padding-left: 3pt;
}
.calc-header {
  margin-bottom: 5pt;
}
select,
input[type=text] {
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100pt;
  max-width: 40%;
  float: right;
}
.flange-details span {
  max-width: 60%;
  width: 125pt;
  text-wrap: normal;
  display: inline-block;
}
.output-section,
.stack {
  display: inline-block;
  vertical-align: top;
  max-width: 48%;
  margin-right: 5pt;
}
.output-section .output-form,
.stack .output-form {
  border: 1pt solid gray;
}
.output-section .output-form h5.form-section-head,
.stack .output-form h5.form-section-head {
  border: none;
  color: black;
}
.output-section .output-form table,
.stack .output-form table {
  width: 100%;
}
.output-section .output-form td,
.stack .output-form td {
  overflow-wrap: break-word;
  text-wrap: normal;
}
.output-section .output-form td span,
.stack .output-form td span {
  width: 120px;
  background-color: white;
  border: 1px solid gray;
  display: inline-block;
  text-align: left;
  padding-left: 4pt;
}
.title-and-social-share,
.inline {
  display: inline-block;
}
.title-and-social-share span,
.inline span {
  margin-right: 3pt;
}
.awwa-logo {
  display: inline-block;
  padding-right: 7pt;
  border-right: 1pt solid gray;
}
.awwa-logo #awwaLogo {
  width: 70pt;
}
tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.k-value span {
  display: initial;
}
h5,
h4 {
  color: black;
  display: inline-block;
  font-size: small;
  margin: 0;
  font-weight: normal;
}
h1 {
  font-size: medium;
}
body,
input,
span {
  font-size: small;
}
.calc-value-box {
  float: right;
}
.ranges {
  width: 200pt;
}
.selection-warning {
  font-weight: bold;
}
